<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Register</title>
  </head>
  <body
    class="min-vh-100 d-flex flex-column align-items-center justify-content-center px-2 px-lg-5"
  >
    <div class="row border w-75 rounded-4 my-4" style="min-height: 80vh">
      <div
        class="col-4 bg-light d-xl-flex flex-column justify-content-center align-items-center rounded-4 d-none"
      >
        <h3 class="text-danger mb-4">Buletin</h3>
        <h5>WELCOME TO BULETIN</h5>
        <h4 class="text-center">
          Craft narrctive ✍️ that ignite
          <span class="text-danger">inspiration</span> 💡,
          <span class="text-danger">knowledge</span> 📕, and
          <span class="text-danger">entertainment</span> 🎬
        </h4>
      </div>
      <div class="col py-4">
        <h2 class="text-center text-dark">Register</h2>
        <form class="container d-flex flex-column w-100 w-lg-75 gap-4">
          <div class="form-floating">
            <input
              type="text"
              name="fName"
              class="form-control"
              id="fName"
              placeholder="First Name"
              required
            />
            <label for="name">First Name</label>
            <span id="firstNameError" class="text-danger d-none"
              >Invalid First Name!!!</span
            >
          </div>

          <div class="form-floating">
            <input
              type="text"
              name="lName"
              class="form-control"
              id="lName"
              placeholder="Last Name"
              required
            />
            <label for="name">Last Name</label>
            <span id="lastNameError" class="text-danger d-none"
              >Invalid Name!!!</span
            >
          </div>

          <div class="form-floating">
            <input
              type="text"
              name="email"
              class="form-control"
              id="email"
              placeholder="Email"
              required
            />
            <label for="email">Email</label>
            <span id="emailError" class="text-danger d-none"
              >Invalid Email!!!</span
            >
          </div>

          <div class="form-floating">
            <input
              type="number"
              name="phNumber"
              class="form-control"
              id="phNumber"
              placeholder="Phone Number"
              required
            />
            <label for="phNumber">Phone Number</label>
            <span id="numError" class="text-danger d-none"
              >Invalid phone number!!!</span
            >
          </div>

          <div class="form-floating">
            <input
              type="text"
              name="panId"
              class="form-control"
              id="panId"
              placeholder="PAN Number"
              required
            />
            <label for="panId">PAN Number</label>
            <span id="panError" class="text-danger d-none"
              >Invalid PAN ID!!!</span
            >
          </div>
          <div class="form-floating">
            <input
              type="date"
              name="dob"
              class="form-control"
              id="dob"
              placeholder="Date of Birth"
              required
            />
            <label for="dob">Date of birth</label>
            <span id="dobError" class="text-danger d-none"
              >Invalid Date of birth!!!</span
            >
          </div>
          <div class="form-floating">
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
              required
            />
            <label for="password" class="text-center">Password</label>
            <span id="passwordError" class="text-danger d-none"
              >Invalid Password!!!</span
            >
          </div>

          <div class="form-floating">
            <input
              type="password"
              name="conformPassword"
              class="form-control"
              id="conformPassword"
              placeholder="Conform-Password"
              required
            />
            <label for="conformPassword" class="text-center"
              >Conform-Password</label
            >
            <span id="cpasswordError" class="text-danger d-none"
              >Password Missmatch!!!</span
            >
          </div>

          <div class="d-flex justify-content-evenly mb-3">
            <button
              onclick=""
              class="btn btn-primary w-100 py-2"
              id="registerBtn"
            >
              <span id="btnText">Submit</span>
              <div
                class="spinner-border spinner-border-sm d-none"
                role="status"
                id="spinner"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
          <hr>
          <p class="text-center">Already Have an account?<a href="./login.html">Login</a></p>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script src="../script/registration.js"></script>
  </body>
</html>
