body {
  min-height: 100vh;
  background: linear-gradient(135deg, #d8b4fe, #c084fc);
}

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.auth-box {
  width: 100%;
  max-width: 1150px;
  min-height: 650px;
  background: #fff;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 25px 70px rgba(88, 28, 135, 0.25);
}

.auth-left {
  background: linear-gradient(135deg, #8b5cf6, #c026d3);
  color: white;
  padding: 50px;
  text-align: center;
}

.auth-left h1 {
  font-size: 42px;
  font-weight: 700;
}

.auth-left p {
  font-size: 18px;
  opacity: 0.9;
}

.auth-img {
  width: 300px;
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
}

.auth-card {
  width: 100%;
  max-width: 520px;
  padding: 20px 40px !important;
  border: none;
  box-shadow: none;
}

.auth-card h3 {
  color: #7e22ce;
  font-weight: 700;
}

.auth-card p {
  color: #777;
}
.auth-icon {
  font-size: 4rem;
  color: #9333ea;
}

label {
  font-size: 15px;
  font-weight: 500;
  color: #777;
  margin-bottom: 5px;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  margin-bottom: 12px;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #9333ea;
}

.btn-auth {
  background: linear-gradient(135deg, #9333ea, #c084fc);
  border: none;
  color: white;
  height: 52px;
  border-radius: 35px;
  font-weight: 600;
  box-shadow: 0 12px 25px rgba(147, 51, 234, 0.3);
}

.btn-auth:hover {
  color: white;
  opacity: 0.95;
}

.auth-link {
  color: #9333ea;
  font-weight: 600;
}

.forgot-link {
  font-size: 14px;
  color: #9333ea;
  text-decoration: none;
  font-weight: 500;
}

.error {
  color: red;
  font-size: 13px;
}

@media (max-width: 768px) {
  .auth-wrapper {
    padding: 15px;
  }

  .auth-box {
    border-radius: 22px;
  }

  .auth-left {
    display: none !important;
  }
}
